mcp>=1.0.0
snowflake-connector-python[pandas]>=3.12.0,<3.14.0
pandas>=2.2.3
python-dotenv>=1.0.1
sqlparse>=0.5.3
snowflake-snowpark-python>=1.26.0
nest_asyncio>=1.6.0
streamlit>=1.25.0
langchain_mcp_adapters>=0.0.1
langchain_anthropic>=0.2.1
langchain-core>=0.2.1
langchain-openai>=0.2.1
langgraph>=0.2.1